@import "tailwindcss";

@import '@fontsource-variable/jetbrains-mono/wght.css';
@import '@fontsource-variable/space-grotesk/wght.css';

@theme {
  --font-primary: 'Space Grotesk Variable', sans-serif;
  --font-secondary: 'JetBrains Mono Variable', monospace;
  --color-primary-bg: #030712; /* (midnight, casi negro azulado) */
  --color-primary-tx: #F9FAFB;  /*(blanco suave texto) */
  --color-bg-darks: #0F172A; /* (cards y popovers) */
  --color-nav-primary: #04070f; 
  --color-secondary: #9CA3AF;  /* (muted) */
}

*{
  box-sizing: border-box;
}

@layer base{

  body{
    @apply bg-primary-bg
  }
  p{
    @apply text-secondary;
  }
}

body {
  font-family: 'Space Grotesk Variable', sans-serif;
}

p, a {
  font-family: 'JetBrains Mono Variable', monospace;
}